@import 'bootstrap/dist/css/bootstrap.min.css';

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #333; /* Tło na ciemne */
  color: #0c0707; /* Kolor tekstu na biały */
  font-size: 16px;
}

.container {
  width: 90%;
  max-width: 1500px;
  margin: 0 auto;
}

.header {
  background-color: #333; /* Czarny tło */
  color: white;
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.add-job-btn {
  color: #bdbaba;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 25px;
}

.add-job-btn:hover {
  text-decoration: underline; 
}

.user-controls {
  display: flex;
  gap: 10px;
}

.form-container {
  margin-top: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-container iframe {
  width: 100%;
  height: 500px;
  border: none;
}

.search-bar {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 20px 0;
  padding: 15px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-bar input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-btn {
  background-color: #0066cc;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
}

.advanced-search {
  position: relative;
}

.advanced-btn {
  background-color: #005bb5;
  color: white;
  border: none;
  padding: 10px 5px;
  border-radius: 4px;
  cursor: pointer;
}

.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  z-index: 10;
}

.advanced-search:hover .dropdown {
  display: block;
}

.main-content {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(69, 8, 8, 0.1);
  margin: 20px 0;
  text-align: center;
}

.footer {
  display: flex;
  justify-content: space-evenly;
  padding: 10px 0;
  /* background-color: #0066cc; */
  color: #bdbaba;
}

.filters-row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
  margin-top: 20px;
  padding: 10px;
}

.filter-dropdown {
  width: 18%;
  border: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
}

.filter-button {
  width: 100%;
  padding: 10px;
  text-align: left;
  background: #f0f0f0;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  margin-top: 10px;
  display: block;
  background-color: white;
  border: 1px solid #ddd;
  padding: 10px;
}

.dropdown-item {
  margin-bottom: 10px;
}

.login-btn {
  color: #bdbaba;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 25px;
}

.login-btn:hover {
  text-decoration: underline;
}

.job-offer-details {
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: #333;  
  padding: 20px;
  /* background-color: #ffffff; */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.job-offer-details p {
  margin: 8px 0; 
  color: #333; 
}

.job-offer-details .contract-type,
.job-offer-details .work-mode,
.job-offer-details .experience-level {
  font-weight: normal;
  color: #333; 
}

.job-offer-details .job-featured {
  font-weight: bold;
  color: #4A90E2; 
}

.job-offer-details button {
  /* background-color: #357ab7; */
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
}

.job-offer-details button:hover {
  /* background-color: #005bb5;  */
  text-decoration: underline; 
}

.upload-cv-btn {
  margin-left: 140px;
  color: #bdbaba;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 25px;
}
.upload-cv-btn:hover {
  text-decoration: underline;
}
